<div class="container">
  <form>  
    <div class="row">
      <div class="input-field col s10">
        <input id="first_name" placeholder="Type something" type="text" [(ngModel)]="query" class="validate">
        <label for="first_name"></label>
      </div>
      <div class="input-field col s2">
        <a class="waves-effect waves-light btn" (click)="search()">shearch</a>
      </div>
      <!--<ng2-select [placeholder]="'Choose your framework'"
                    [options]="['EmberJS', 'React', 'Vue', 'Angular2']"
                    [(ngModel)]="framework">
        </ng2-select>-->
    </div>
  </form>
  <table class="highlight" *ngIf="results">
    <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Video</th>
          <th>
            <input type="checkbox" id="addAll" />
            <label for="addAll">Select all</label>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of results">
        <td>{{item.snippet.title}}</td>
        <td>{{item.snippet.description}}</td>
        <td>
          <app-hover-player [src]="item.snippet.thumbnails.default.url" [video_id]="item.id.videoId"></app-hover-player>
        </td>
        <td>
            <input type="checkbox" [id]="item.id.videoId" (change)="checked($event, item)"/>
            <label [attr.for]="item.id.videoId"></label>
        </td>
      </tr>
    </tbody>
  </table>
</div>